html {
}

body {
  background-color: #002637; 
}

p {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
